name: API Deploy

on:
  push:
    branches: [main, ci-cd-rushed]
    paths:
      - '*' # root files
      - '.github/workflows/api.yml' # this ci/cd stuff
      - 'packages/**' # supporting files i.e. db types
      - 'apps/api/**' # api specifics

  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.11'
      - name: Install dependencies
        # needs the frozen option for some reason... ughh
        run: npm install -g pnpm && pnpm install --no-frozen-lockfile
        working-directory: ./

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test
    environment: prod
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.API_HOST }}
          REMOTE_USER: ubuntu
          SOURCE: './'
          TARGET: ~/deploy

      - name: Restart PM2
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ssh_key
          chmod 600 ssh_key
          ssh -i ssh_key -o StrictHostKeyChecking=no ubuntu@${{ secrets.API_HOST }} << 'ENDSSH'
          export PATH=$PATH:/home/ubuntu/.local/share/pnpm
          cd ~/deploy/apps/api
          pnpm install 

          # Database
          echo "DB_URI=postgresql://ubuntu:Bomber0505!@10.0.0.99:5432/bomber_db?schema=public" > .env


          #FIXME: this is probably wrong
          echo "REDIS_HOST=localhost" >> .env
          echo "REDIS_PORT=6379" >> .env


          # Serve
          echo "PORT=3000" >> .env

          # JWT secrets
          # FIXME: bad pass, will get got by dictionary attacks
          echo "JWT_ACCESS_SECRET=your_random_access_secret_here" >> .env
          echo "JWT_REFRESH_SECRET=your_random_refresh_secret_here" >> .env

          # Token lifetimes
          echo "ACCESS_EXPIRES_IN=1d" >> .env
          echo "REFRESH_EXPIRES_IN=7d" >> .env

          # Password hashing
          echo "BCRYPT_SALT_ROUNDS=12" >> .env

          pm2 restart all

          ENDSSH
          rm -f ssh_key
