name: mobile

on:
  push:
    branches:
      - 'main'
      - 'ci-cd'

jobs:
  build:
    runs-on: macos-latest
    defaults:
      run:
        working-directory: apps/mobile/ios
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: bundle install

      - name: Run Fastlane
        run: bundle exec fastlane ios beta
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          CI: true
