name: Web App Deploy

on:
  push:
    branches: [main, ci-cd-rushed]
    paths:
      - '*' # root files
      - '.github/workflows/web.yml' # this ci/cd stuff
      - 'packages/**' # supporting files i.e. db types
      - 'apps/web/**' # web app specifics

  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.11'
      - name: Install dependencies
        # needs the frozen option for some reason... ughh
        run: npm install -g pnpm && pnpm install --no-frozen-lockfile
        working-directory: ./
      - name: Build frontend
        run: pnpm run dumb # dumb version of build that throws away the whole type system for no reason... masterful gambit sir
        working-directory: apps/web
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.EC2_HOST }}
          REMOTE_USER: ubuntu
          SOURCE: './'
          TARGET: ~/deploy
          EXCLUDE: ./frontend/node_modules/
          INCLUDE: 'frontend/ backend/'

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test
    environment: prod
    steps:
      - uses: actions/checkout@v2
      - name: Move build to /var/www/html
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ssh_key
          chmod 600 ssh_key
          ssh -i ssh_key -o StrictHostKeyChecking=no ubuntu@${{ secrets.WEB_HOST }} << 'ENDSSH'
          rsync -av --delete --exclude='.htaccess' /home/ubuntu/deploy/apps/web/dist/ /var/www/html/

          ENDSSH
          rm -f ssh_key
