name: Node.js CI/CD to AWS EC2

on:
  push:
    #FIXME: do dir specific changes
    branches: [main, ci-cd-rushed]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.11'
      - name: Install dependencies
        # needs the frozen option for some reason... ughh
        run: npm install -g pnpm && pnpm install --no-frozen-lockfile
        working-directory: ./
      - name: Build frontend
        run: pnpm run build
        working-directory: ./apps/web
        env:
          # FIXME: shouldnt these be prefaced by 'VITE_'???
          API_BASE_URL: 'https://api.bomberadmin.net'
          # This isn't set up but then again neither is messaging so it
          # shouldn't matter methinks
          SOCKET_SERVER_URL: 'https://wss.bomberadmin.net'

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-test
    environment: prod
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          # FIXME: change web and api host to their own vars
          REMOTE_HOST: ${{ secrets.WEB_HOST }}
          REMOTE_USER: ubuntu
          SOURCE: './'
          TARGET: ~/deploy
          EXCLUDE: ./frontend/node_modules/
          INCLUDE: 'frontend/ backend/'

      - name: Move build to /var/www/html
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ssh_key
          chmod 600 ssh_key
          ssh -i ssh_key -o StrictHostKeyChecking=no ubuntu@${{ secrets.WEB_HOST }} << 'ENDSSH'
          export PATH=$PATH:/home/ubuntu/.local/share/pnpm
          cd ~/deploy/apps/web
          pnpm install 
          rsync -av --delete --exclude='.htaccess' /home/ubuntu/deploy/apps/web/dist/ /var/www/html/

          ENDSSH
          rm -f ssh_key
